/**
 * Custom CSS
 *
 * Modified: 2015/09/07
 * @author softwarespot
 */

 /*Body styling*/
 body {
    background: #fafafa;
    font-family: 'Open Sans', sans-serif, Arial;
    color: #222;
}

/*Style a links as well as increasing the clickable area*/
a {
    background: transparent;
    color: #2980b9;
    margin: -.5em;
    padding: .5em;
    position: relative;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

a:hover {
    color: #3498db;
}

a img {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}

a img:hover {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

/*Navigation*/
nav,
nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    background: red;
    display: inline-block;
    list-style: none;
    margin: 0 0 5px;
    width: 120px;
}

nav a {
    background: #4aa3df;
    display: block;
    font-size: 1.4em;
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav a,
nav a:hover {
    color: #fafafa;
}

#menu {
    display: none;
}

.container {
    padding: 20px 20px;
    width: 100%;
    text-align: center;
}

.main-section {
    background: #2ecc71;
    color: #fafafa;
    font-size: 1.2em;
    padding: 50px 0;
}

.main-section img {
    width: 50%;
}

img.small {
    height: 128px;
    width: 128px;
}

/*Add space after and before quotation marks*/
.fa-quote-left {
    margin-right: 5px;
}

.fa-quote-right {
    margin-left: 5px;
}

footer {
    border-top: 2px solid #222;
}

/*Mobile first queries*/

/*Larger than mobile*/
@media (min-width: 400px) {
}

/*Larger than phablet*/
@media (min-width: 550px) {
}

/*Larger than tablet*/
@media (min-width: 750px) {
    .container {
        padding: 20px 0;
        max-width: 85%;
    }
}

/*Larger than desktop*/
@media (min-width: 1000px) {
}

/*Larger than Desktop HD*/
@media (min-width: 1200px) {
}
